*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar{
    display: none;    
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


#top-header{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    background-color: black;
}
#top-header a{
    text-decoration: none;
    padding: 0.5rem 1rem; 
    color: white;
}

#top-header img{
    width: 30px;
    height: auto;
}

.fix_header{
    position: fixed;
    width: 100%;
    z-index: 5;
}

.payment_options{
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
}

.payment_option1{
    display: flex;
    position: absolute;
    background-color: cadetblue;
    border-radius: 5px;
    margin: 0px 0px;
}

.payment_option2{
    display: flex;
    position: relative;
    background-color:chocolate;
    margin: 0 7.5rem;
    border-radius: 5px;
}

.nav2{
background-color: antiquewhite;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem 2rem;   
width: 100%;
}
.brand{
    display: none;
}
.navHeading img{
width: 60%;
}
.nav {
    display: flex;
}

.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    padding: 1rem;
    text-decoration: none;
color: black;
}
.nav button{
    border: none;
    margin: -1rem 0;
    padding:0.5rem 1rem ;
}
.banner{
    background: url('https://images.unsplash.com/photo-1604231252112-4145334ea577?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8b2xhfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')no-repeat center center/cover;
    padding-bottom: 5rem;
}
.bannerPara{
    text-align: center;
    padding: 3rem 0;
    color: white;
   
}
.form-a{
    margin: 3rem;
    padding: 3rem;
    background-color: brown;
    display: inline-block;
}



.radios{
   display: flex;
   justify-content: center;
   

}
.pick{
    display: flex;
    margin:  1rem 0;
}
.from{
    margin: 0 1rem;
}
label{
margin-right: 0.5rem;
}
.form-a button{
    margin-left:4rem ;
    padding: 0.5rem 7rem;
}
.form-a {
    width: 30rem;
    height: 18rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }
  
  .form-a:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }
  .form1{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }
  .cars{
      color: white;
      background-color: black;
  
    }
    .line{
        padding: 2rem 2rem 0 3rem;
    }
    .line hr{
        color: white;
    }
  .cars h2{
      position: relative;
      top: 1.5rem;
      margin-left: 5rem;
  }
  .carName{
      
  }
  .carName ul{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }
  .carName ul li{
      list-style: none;
  }
  .carName ul li a{
      text-decoration: none;
     line-height: 1.5rem;
      color: white;
  }
  .one{
      margin: 0 4rem;
  }

  .social{
      background-color: black;
      color: white;
      
  }
  .social h2{
    position: relative;
    top: 1.5rem;
    margin-left: 5rem;   
  }
  .socialLogo ul{
    display: flex;
    justify-content: center ;
  }
  .socialLogo ul li{
      list-style: none;
      margin: 0 2rem;
  }

.discover{
    color: white;
    background-color: black;
    
}

.discoverLinks{
    display: flex;
    justify-content: space-between;
margin: 1rem 5rem 0 5rem;
align-items: baseline;
}
.discoverLinks ul{
    display: flex;   
}
.discoverLinks ul li{
    list-style: none;
    padding: 0 1rem;
}
.discoverLinks ul li a{
    text-decoration: none;
    color: white;
}
.bookRental a{
    text-decoration: none;
    color: white;
}
.TnC{
    color: white;
    background-color: black;
}
.policy ul{
    display: flex;
}
.policy ul li{
    list-style: none;
    padding: 0 1rem;
}
.policy ul li a{
    text-decoration: none;
    color: white;
}
.nav3{
    display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem 5rem;  
}
.copyright{
    display: flex;
    justify-content: end;
    margin-right: 4rem;
}

.brand button{
    font-size: 3rem;
    padding: 0.5rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}
.sidebar{
    position: fixed;
    transform: translateX(-48rem);
    width: 48rem;
    background-color: white;
height: 100%;
z-index: 2;
font-size: 3rem;
top: 0;
}
.sidebar-close-button{
    left: 1rem;
    background: none;
    border: none;
    height: 3rem;
    padding: .5rem;
    font-size: 2rem;
    padding-top: 0 ;
    cursor: pointer;
    position: absolute;
    
}
.sidebar.open{
    transform: translateX(0);
}
.container {
    position: relative;
    width: 50%;
}
  
  .image {
    display: flex;
    width: 20%;
}
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 20%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1a1f20;
}
  
  .container:hover .overlay {
    opacity: 0.8;
}
  
  .text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}