@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar{
    display: none;  
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#top-header{
    position: fixed;
    z-index: 7;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    background-color: black;
}
#top-header a{
    text-decoration: none;
    padding: 0.5rem 1rem; 
    color: white;
}

#top-header img{
    width: 30px;
    height: auto;
}

.fix_header{
    
    width: 100%;
    z-index: 5;
}

/* SIBLING FADE: fade out siblings around a hovered item */

.payment_options { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.payment_options > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

.payment_options > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.payment_options:hover > * { opacity: 0.4; transform: scale(0.9); }
/* Fade out all items when the parent is hovered */

.payment_options > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }
/* Fade in the currently hovered item */

.payment_options{
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
}

.payment_option1{
    display: flex;
    position: absolute;
    background-color: cadetblue;
    border-radius: 5px;
    margin: 0px 0px;
}

.payment_option2{
    display: flex;
    position: relative;
    background-color:chocolate;
    margin: 0 7.5rem;
    border-radius: 5px;
}

.nav2{
background-color: inherit;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 7rem 5rem 2rem 2rem;   
width: 100%;
}
.brand{
    display: none;
}

.navHeading{
    display: flex;
    align-items: center;
}
.main{
    background-color: #000;
}
.navHeading h3{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    margin-left:1.5rem;
    font-family: 'Bevan', cursive;
}

.navHeading img{
width: 30%;
height: auto;
}
.nav {
    display: flex;
}

.nav ul{
    display: flex;
    margin-bottom: 0rem;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    padding: 0.7rem;
    text-decoration: none;
color: black;
margin: 0 1rem;
border-radius: 0.3rem;
    font-size: 1.1rem;
    border: none;
    
    color: white;
    font-weight: 601;
}
.nav button{
    border: none;
    margin: -1rem 0;
    padding:0.5rem 1rem ;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: #1a55ff;
    color: white;
    font-weight: 601;
}
.explore button{
    border: none;
    margin-top: 2rem;
    
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    border: none;
    background-color: #1a55ff;
    color: white;
    font-weight: 601;
}
.banner{
    /* background: url("https://images.unsplash.com/photo-1593055357429-62eaf3b259cc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTA5fHxoZWFkZXIlMjBpbWFnZXN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.bannerPara{
    text-align: left;
    padding: 3rem 0;
    color: white;
    margin:0 4rem 6rem 2rem;
    border-radius:0.5rem;
    border:2px solid black;
    
   
}
.responsive{
    display: none;
}
.bannerPara h1{
    font-family: "alliance",mono,sans-serif !important;
    font-weight:700 ;
    font-size: 4.2rem;
    color: black;
    background: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent

}
.bannerPara p{
    margin-bottom: 0;
    font-weight: 700;
    color: black;
    font-size: 1.8rem;
    color: white;
}

.bannerImg{
float: right;
position: relative;
top: -2rem;

}

.form-a{
    margin: 3rem;
    padding: 1rem;
    background-color: #e3eafb6b;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 1000;
}



.radios{
   display: flex;
   justify-content: center;

}
.radios h2{
    font-weight: 1000;
}
.pick{
    display: flex;
    margin:  1rem 0;
}
.from{
    margin: 0 1rem;
}
label{
margin-right: 0.5rem;
}
.form-a button{
    display: flex;
    margin:auto;
    padding: 0.7rem 3rem;
    border-radius: 20rem;
    font-size: 1.5rem;
    border: none;
    background-color: #1a55ff;
    color: white;
    font-weight: 601;
}
.pickDT input{
    padding: 0.35rem 0 ;
    border-radius: 1rem;
    border: none;
}
.address input{
    padding: 0.35rem 0 ;
    border-radius: 1rem;
    border: none;

}
.from select{
    padding: 0.35rem 0 ;
    border-radius: 0.5rem;
    border: none;
}

.form2{
    margin-bottom: 2rem;
}
.form-a {
    width: 37rem;
    
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
   
    overflow: hidden;
    left: 25%;
  }
  
  .form-a:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }
  .form1{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }

/*beta css*/
body { background: aliceblue; }

.gtco-testimonials {
  position: relative;
  margin-top: 30px;
}
@media (max-device-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px;
    width: 131%;
  }
}
.gtco-testimonials h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  color: #333333;
  margin-bottom: 50px;
  background: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.gtco-testimonials .owl-stage-outer {
  padding: 30px 0;
}
.gtco-testimonials .owl-nav {
  display: none;
}
.gtco-testimonials .owl-dots {
  text-align: center;
}
.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #01b0f8;
  margin: 0 5px;
}
.gtco-testimonials .owl-dots .active {
  box-shadow: none;
}
.gtco-testimonials .owl-dots .active span {
  background: #01b0f8;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.gtco-testimonials .card {
  background: #000;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}
.gtco-testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
}
.gtco-testimonials .card h5 {
  color: #1a55ff;
  font-size: 21px;
  line-height: 1.3;
}
.gtco-testimonials .card h5 span {
  font-size: 18px;
  color: #fff;
}
.gtco-testimonials .card p {
  font-size: 18px;
  color: #fff;
  padding-bottom: 15px;
}
.gtco-testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.gtco-testimonials .center {
  opacity: 1;
}
.gtco-testimonials .center h5 {
  font-size: 24px;
}
.gtco-testimonials .center h5 span {
  font-size: 20px;
}
.gtco-testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  outline: 0;
}

/*beta css ends here*/


footer{
    background: rgb(121,113,234);
    background: -moz-linear-gradient(148deg, rgba(121,113,234,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(148deg, rgba(121,113,234,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(148deg, rgba(121,113,234,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7971ea",endColorstr="#00d4ff",GradientType=1);
    padding-top: 1rem;
    border-radius:0.5rem .5rem 0 0;
}

  .cars{
      color: white;
      background-color: black;
      margin: 0 1rem 1rem 1rem;
      border-radius: 0.5rem;
      padding-bottom:2rem;
      text-transform:uppercase;
      padding-top:2rem;
      box-shadow: 12px 6px 18px black;
    }
    .line{
        padding: 2rem 2rem 0 3rem;
    }
    .line hr{
        color: white;
    }
  .cars h2{
      position: relative;
      text-align: center;
    
  font-weight:700;
  background: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent

    }
  .carName{
      
  }
  .carName ul{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 0rem;
  }
  .carName ul li{
      list-style: none;
  }
  .carName ul li a{
      text-decoration: none;
     line-height: 1.5rem;
      color: white;
  }
  .one{
      margin: 0 4rem;
  }

  .social{
      background-color: black;
      color: white;
      margin: 1rem;
      padding-bottom:2rem;
      border-radius: 0.5rem;  
      text-transform:uppercase;
      box-shadow: 12px 6px 18px black;
  }
  .social h2{
    position: relative;
    top: 2.5rem;
    margin-left: 5rem;   
    font-weight:700;
    background: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
    width:fit-content;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent

  }
  .socialLogo ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
  }
  .socialLogo ul li{
      list-style: none;
      margin: 0 2rem;
  }
  .socialLogo ul li img{
      width: 170%;
  }
  .socialLogo ul li img:hover{
      opacity:0.5;
  }
.discover{
    color: white;
    background-color: black;
    margin: 1rem;
    padding-bottom:2rem;
    padding-top: 1rem;
    border-radius: 0.5rem;
    box-shadow: 12px 6px 18px black;
}

.discoverLinks{
    display: flex;
    justify-content: space-between;
margin: 1rem 5rem 0 5rem;
align-items: baseline;
text-transform:uppercase;
}
.discoverLinks h2{
    font-weight:700;
    background: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent

}
.discoverLinks ul{
    display: flex;   
}
.discoverLinks ul li{
    list-style: none;
    padding: 0 1rem;
}
.discoverLinks ul li a{
    text-decoration: none;
    color: white;
}
.bookRental a{
    text-decoration: none;
    color: white;
}
.TnC{
    color: white;
    background-color: black;
    margin: 1rem;
    
      border-radius: 0.5rem;
      text-transform:uppercase;
      box-shadow: 12px 6px 18px black;
}
.policy ul{
    display: flex;
}
.policy ul li{
    list-style: none;
    padding: 0 1rem;
}
.policy ul li a{
    text-decoration: none;
    color: white;
}
.nav3{
    display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem 5rem;  
}
.copyright{
    display: flex;
    justify-content: end;
    padding: 4rem;
    background-color: #000;
}

.brand button{
    font-size: 3rem;
    padding: 0.5rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}
.sidebar{
    position: fixed;
    transform: translateX(-48rem);
    width: 48rem;
    background-color: white;
height: 100%;
z-index: 6;
font-size: 3rem;
top: 0;
}
.sidebar-close-button{
    left: 1rem;
    background: none;
    border: none;
    height: 3rem;
    padding: .5rem;
    font-size: 2rem;
    padding-top: 0 ;
    cursor: pointer;
    position: absolute;
    
}
.sidebar.open{
    transform: translateX(0);
    border:0.5rem solid transparent;
    border-image: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
border-image-slice: 1;

}
.container {
    position: relative;
    width: 50%;
}
  


.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 20%;
opacity: 0;
transition: .5s ease;
background-color: #1a1f20;
}

.container:hover .overlay {
opacity: 0.8;
}

.text {
color: rgb(255, 255, 255);
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}
.boons{
display: flex;
justify-content: center;
padding-top: 2rem;
box-shadow: 0px -2px 13px white;
padding-bottom: 2rem;

margin: 2rem 1rem 0 1rem;
border-radius:0.5rem;
margin-bottom: 2rem;
}
.boonsContent{
display: flex;
margin: 0.5rem 2rem;

border-radius: 0.5rem;
padding: 1rem;

}
.official{
    background-color: #000;
    margin: 1rem;
    padding: 2rem 2rem;
    box-shadow: 12px 6px 18px black;
    border-radius: 0.5rem;
}
.official h2{
    text-align: center;
    margin: 0 0 1rem 0;
        background: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent

}
.officialContent ul{
    display: flex;
    flex-wrap: wrap ;
   justify-content: center;
}
.officialContent ul li{
    list-style: none;
    width: 11%;
   
}
.officialContent ul li img{
   width: 45%;
}
.officialContent ul li img:hover{
    width: 55%;
}
#img1{

    width: 83%;
}
#img1:hover{
    width: 90%;
}
.boonsContent h3{
display: flex;
margin-left: 1rem;
justify-content: center;
align-items: center;
font-size: 1rem;
margin-bottom: 0rem;
color: white;
}
.testimonials h1{
    text-align: center;
    margin: 2rem 0;
}
.container {
    position: relative;;
    width: 50%;
}
  
.image {
    display: flex;
    width: 20%;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 27%;
    width: 22%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1a1f20;
}
  
.container:hover .overlay {
    opacity: 0.8;
}
  
.text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.mockup1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.boons{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    box-shadow: 0px -2px 13px black;
    padding-bottom: 2rem;
    margin-top: 2rem;
}
.boonsContent{
    display: flex;
    margin: 0.5rem 2rem;
}
.boonsContent h3{
    display: flex;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0rem;
}
.testimonials h1{
    text-align: center;
    margin: 2rem 0;
}

.terms{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* abbout us */
.fleet{
    margin: 2rem;
    border:2px solid transparent;
    border-image: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
border-image-slice: 1;
    border-radius:0.5rem;
}
.fleet img{
    float: right;
    margin:2rem 2rem 0 0;
    border-radius: 1rem;
}
.fleetContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem 4rem 5rem;
}
.fleetContent h2{
    font-size: 3rem;
    text-transform:uppercase;
    background: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}
.fleetContent p{
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
}
.fleetContent button{
    padding: 0.5rem 2rem;
    border: none;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: #1a55ff;
    color: white;
    font-weight: 601;
}
.anime{
    display: flex;

}
.anime img{
   margin: 2rem 0 2rem 14rem;
   border-radius: 2rem;
   width:24%;
}
.container .image {
    display: flex;
    width: 30%;
    }

.about{
    padding-top:2rem;
    margin: 2rem;
    border:2px solid transparent;
    border-image: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
border-image-slice: 1;
    border-radius:0.5rem;
}
.about img{
    float: left;
    margin-left:2rem;
    border-radius: 1rem;
}
.aboutContent{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem 4rem 5rem;
}
.aboutContent h2{
    font-size: 3rem;
    text-transform:uppercase;
    background: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}
.aboutContent p{
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
}
.aboutContent button{
    padding: 0.5rem 2rem;
    border: none;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: #1a55ff;
    color: white;
    font-weight: 601;
}
.foot img{
    width: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #000;
}

/* forms */
