* {
    background-color: #000;
}

@font-face {
    font-family: google_sans_medium;
    src: url("/fonts/GoogleSans-Medium.ttf");
}

@font-face {
    font-family: google_sans_regular;
    src: url("/fonts/GoogleSans-Regular.ttf");
}

.nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem 1rem 4rem;
    width: 100%;
    border-radius: 0px 0px 7px 7px;
    z-index: 6;
}
.text-m{
    font-size: 20px!important;
    padding-top: 2rem;
    /* width: 80%!important; */
    text-align: center;
}


#content_body {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 3rem;
    text-align: left;
}

#content_body h3 {
    font-family: google_sans_regular;
    font-weight: 700;
    font-size: 4.2rem;
    color: black;
    background: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

#content_body p {
    text-align: left;
    font-family: google_sans_regular;
}

@media screen and (max-device-width:979px) {
    #content_body h3 {
        font-family: google_sans_regular;
        font-size: 10rem;
    }
    #content_body p {
        text-align: justify;
        font-family: google_sans_regular;
        font-size: 2.5rem;
    }
    #content_body {
        width: 20%;
    }
    .navHeading {
        margin-right: 28rem;
    }
}
