@media screen and (max-device-width:979px){
.form-a{
padding-bottom: 2rem;
    width: auto;
    height: auto;
}
#top-header{
    justify-content: center;
}
.form-a::before{
    margin: auto;
}
.banner{
    background-image: none;
}
#top-header a{
    font-size: 2rem;
}
.nav ul li a{
    font-size: 2rem;
}
.nav button{
    font-size: 2rem;
}
.navHeading img{
    width: 100%;
}
.bannerPara{
    display: none;
}
.radios{
    font-size: 2.8rem;
    flex-direction: column;
    align-items: center;
}
.form1{
    font-size: 2.5rem;
}
.form-a button{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
#select-1{
font-size: 2rem;
}
#select-1 option{
font-size: 1rem;
}
#select-2{
    font-size: 2rem;
    }
    #select-2 option{
    font-size: 1rem;
    }
#pickup-date-time{
    padding: 0.5rem 1rem;
}
#return-date-time{
    padding: 0.5rem 1rem;
}
.carName ul{
    flex-direction: column;
}
.carName ul li a{
    line-height: 4rem;
    font-size: 2rem;
}
.cars h2{
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
    padding-bottom: 3rem;
}
.line{
    padding: 4rem 0 0 0;
}
.social h2{
    text-align: center;
margin: 0;
font-size: 2rem;
}
.socialLogo{
    padding:3rem 0 0 0 ;
}
.discoverLinks{
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.discoverLinks ul{
    padding: 2rem 0;
}
.nav3{
    flex-direction: column;
    font-size: 2rem;
}
.policy{
    padding: 2rem 0;
}
.copyright{
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 2rem;
}
}
