@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body{
    background-color: #6528FF;
    font-family: 'Montserrat', sans-serif;
}
.form1{
   margin:0 2rem;
    margin-top: 2rem;
    justify-content: center;
    margin-right:14rem ;
}
.form-container{ font-family: 'Overpass', sans-serif; }
.form-container .form-horizontal{
    background: #181624;
    width: 170%;
    height: 550px;
    padding: 25px 55px;
    margin: 0 auto;
    border-radius: 0.8rem;
    border:2px solid transparent;
    border-image: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
border-image-slice: 1;
    border-radius:0.5rem;
box-shadow: 1px 1px 20px white;
margin-bottom: 2rem;
}
.form-container .title{
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 0 1.5rem 0;
    font-weight: 700;
}
.form-horizontal .form-group{
    background-color: rgba(255,255,255,0.15);
    font-size: 0;
    margin: 0 0 15px;
    border: 1px solid #838585;
    border-radius: 3px;
}
.form-horizontal .input-icon{
    color: #838585;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    height: 45px;
    width: 40px;
    vertical-align: top;
    display: inline-block;
}
.form-horizontal .form-control{
    color: white;
    background-color: transparent;
    font-size: 14px;
    letter-spacing: 1px;
    width: calc(100% - 55px);
    height: 45px;
    padding: 2px 10px 0 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
    display: inline-block;
    transition: all 0.3s;
}
.form-horizontal .form-control:focus{
    box-shadow: none;
    border: none;
}
.form-horizontal .form-control::placeholder{
    color: #838585;
    font-size: 13px;
    text-transform: capitalize;
}
.form-horizontal .btn{
    color: rgba(255,255,255,0.8);
     background-color: #1a55ff;
     
    
    font-weight: 700;
    text-transform: uppercase;
    
    transition: all 0.3s ease;
    position: relative;
    left: -5.5rem;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.form-horizontal .forgot-pass{
    font-size: 12px;
    text-align: left;
    width: calc(100% - 125px);
    display: inline-block;
    vertical-align: top;
}
.form-horizontal .forgot-pass a{
    color: #999;
    transition: all 0.3s ease;
    font-size: 1rem;
}
.form-horizontal .forgot-pass a:hover{
    color: #555;
    text-decoration: underline;
}

.butt button{
    color: rgba(255,255,255,0.8);
     background-color: #1a55ff;
     
    border-radius: 0.3rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 0.5px solid #062686;
    box-shadow: 1px 1px 20px black;
    padding: 1rem;
    display: flex;
    
    margin: auto;

}

@media only screen and (max-width:979px){
    .form-container .form-horizontal{
        width: 100%;
    }
    .form1{
        margin: 0;
        margin-top: 2rem;
    }
    .form-horizontal .btn{
        left: 0;
    }
}
